@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --titleFont: "Raleway", sans-serif;
  --secondaryFont: "Poppins", sans-serif;

  --primary10: #F0FFF4;
  --primary20: #C6F6D5;
  --primary30: #9AE6B4;
  --primary40: #68D391;
  --primary50: #48BB78;
  --primary60: #38A169;
  --primary70: #2F855A;
  --primary80: #276749;
  --primary90: #22543D;
  --primary100: #1C4532;

  --dark: #191A19;
  --darkLighter: #434543;
}

body {
  min-width: 300px;
  background-color: black !important;
}

.App {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 3vh;
}
